<script setup lang="ts">
import { mdiEmail, mdiFacebook, mdiPhone } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="3">
        <v-avatar size="390px">
          <img
            src="https://i.ibb.co/zS28vpC/Screenshot-2022-12-18-211250.png"
          />
        </v-avatar>
      </v-col>
    </v-row>
    <v-row>
      <v-col
        ><h1
          class="text-h3 font-weight-black text-center font-italic text-medium-emphasis"
        >
          Adsadawut Tadyoo
        </h1>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="6">
        <v-table>
          <thead>
            <tr>
              <td class="font-italic"><h3>ประวัติส่วนตัว</h3></td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-medium-emphasis font-italic">
                <p>ชื่อ - นามสกุล</p>
              </td>
              <td class="">นายอัษฎาวุฒิ ทัดอยู่</td>
            </tr>
            <tr class="border-opacity-0">
              <td class="text-medium-emphasis font-italic">ประวัติการศึกษา</td>
              <td class="">
                <p>จบมัธยมปลายจาก โรงเรียนพิบูลวิทยาลัย</p>
              </td>
            </tr>
            <tr>
              <td></td>
              <td class="">
                <p>กำลังศึกษาอยู่ที่ : มหาวิทยาลัยบูรพา</p>
              </td>
            </tr>
            <tr>
              <td class="text-medium-emphasis font-italic">สิ่งที่สนใจ</td>
              <td class="">
                <p>Game Deverloper, Gane Designer</p>
              </td>
            </tr>
          </tbody>
        </v-table>
      </v-col>
    </v-row>
    <v-row class="text-sm-justify" justify="center">
      <h1 class="font-weight-black text-center">ช่องทางการติดต่อ</h1>
    </v-row>
    <v-row class="text-sm-caption" justify="center" mode="shift">
      <v-col cols="2">
        <v-icon :icon="mdiEmail" /> 63160277@go.buu.ac.th
      </v-col>
      <v-col cols="2"> <v-icon :icon="mdiFacebook" /> Adsadawut Tadyoo </v-col>
      <v-col cols="2"> <v-icon :icon="mdiPhone" /> 0925035906 </v-col>
    </v-row>
  </v-container>
</template>
